body{
    background:steelblue;
}

.container{display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.row{
    display: flex;
}
.white, .black{
    border: 3px solid rgb(73, 25, 25);
   
}

.white{
    width: 80px;
    height: 80px;
    background: white;
}
.black{
    width: 80px;
    height: 80px;
    background: black;}

     .white:hover{
        transform: scale(1.08);
    }
     .black:hover{
        transform: scale(1.08);
    }

    .container > h1{
        color:black;
        background: black;
        border-radius: 2px;
        
        text-shadow: 0.1rem 0.1rem 0.5rem white;

    }